@font-face {
  font-family: "iconfont"; /* Project id 3158929 */
  src: url('iconfont.woff2?t=1784560664208') format('woff2'),
       url('iconfont.woff?t=1784560664208') format('woff'),
       url('iconfont.ttf?t=1784560664208') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cocos-weixin:before {
  content: "\e682";
}

.icon-cocos-shendusikao:before {
  content: "\e7da";
}

.icon-cocos-maikefeng:before {
  content: "\e653";
}

.icon-cocos-pushpin-2-line:before {
  content: "\e866";
}

.icon-cocos-tuding:before {
  content: "\e652";
}

.icon-cocos-zhongzhi:before {
  content: "\e651";
}

.icon-cocos-anzhuang:before {
  content: "\e693";
}

.icon-cocos-xiezai:before {
  content: "\e6fa";
}

.icon-cocos-shouye:before {
  content: "\e64c";
}

.icon-cocos-canshu:before {
  content: "\e64d";
}

.icon-cocos-xia:before {
  content: "\e64e";
}

.icon-cocos-rizhi1:before {
  content: "\e64f";
}

.icon-cocos-lujing-8:before {
  content: "\e650";
}

.icon-cocos-yuyin:before {
  content: "\e805";
}

.icon-cocos-arrowTop-fill:before {
  content: "\e65d";
}

.icon-cocos-AIshipin:before {
  content: "\e64a";
}

.icon-cocos-ailiaotian:before {
  content: "\e649";
}

.icon-cocos-yaoqingma:before {
  content: "\e648";
}

.icon-cocos-back:before {
  content: "\e647";
}

.icon-cocos-zhuxiao:before {
  content: "\e6ac";
}

.icon-cocos-xingbienan:before {
  content: "\e643";
}

.icon-cocos-xingbienv:before {
  content: "\e644";
}

.icon-cocos-cancel:before {
  content: "\e645";
}

.icon-cocos-ok:before {
  content: "\e646";
}

.icon-cocos-banben:before {
  content: "\e642";
}

.icon-cocos-navicon-zhgl:before {
  content: "\e63f";
}

.icon-cocos-ruanjiandingzhi:before {
  content: "\e640";
}

.icon-cocos-huiyishi:before {
  content: "\e641";
}

.icon-cocos-ad:before {
  content: "\e63e";
}

.icon-cocos-down:before {
  content: "\e639";
}

.icon-cocos-table:before {
  content: "\e63a";
}

.icon-cocos-reload:before {
  content: "\e638";
}

.icon-cocos-trand:before {
  content: "\e63b";
}

.icon-cocos-hidden:before {
  content: "\e63c";
}

.icon-cocos-show:before {
  content: "\e63d";
}

.icon-cocos-flow-list:before {
  content: "\e637";
}

.icon-cocos-version-list:before {
  content: "\e613";
}

.icon-cocos-region-create:before {
  content: "\e615";
}

.icon-cocos-app-list:before {
  content: "\e617";
}

.icon-cocos-resource-list:before {
  content: "\e618";
}

.icon-cocos-config-list:before {
  content: "\e619";
}

.icon-cocos-message:before {
  content: "\e61a";
}

.icon-cocos-member-list:before {
  content: "\e61b";
}

.icon-cocos-statistics-info:before {
  content: "\e60c";
}

.icon-cocos-user-info:before {
  content: "\e611";
}

.icon-cocos-zhangdan:before {
  content: "\e612";
}

.icon-cocos-zhishushangzhang:before {
  content: "\e609";
}

.icon-cocos-zhishuxiadie:before {
  content: "\e60b";
}

.icon-cocos-a-24px-xianxing-Input-icon-question-circle:before {
  content: "\e608";
}

.icon-cocos-shangchuan:before {
  content: "\e632";
}

.icon-cocos-a-Git4:before {
  content: "\e633";
}

.icon-cocos-xitongcanshushezhi:before {
  content: "\e634";
}

.icon-cocos-daimaguanli:before {
  content: "\e636";
}

.icon-cocos-jiahao1:before {
  content: "\e607";
}

.icon-cocos-a-jianguanfengkong1:before {
  content: "\e62c";
}

.icon-cocos-a-fengfuduoyuan11:before {
  content: "\e62d";
}

.icon-cocos-bushuguanli:before {
  content: "\e62e";
}

.icon-cocos-ziyuanguanli:before {
  content: "\e62f";
}

.icon-cocos-a-yingyongguanli1:before {
  content: "\e630";
}

.icon-cocos-a-Frame31912:before {
  content: "\e631";
}

.icon-cocos-a-Frame31911:before {
  content: "\e62b";
}

.icon-cocos-a-Frame3191:before {
  content: "\e627";
}

.icon-cocos-liuchengguanli:before {
  content: "\e606";
}

.icon-cocos-a-Frame3234:before {
  content: "\e62a";
}

.icon-cocos-file-code:before {
  content: "\e614";
}

.icon-cocos-yonghu:before {
  content: "\e629";
}

.icon-cocos-fenghuangxiangmutubiao_quanxian:before {
  content: "\e66d";
}

.icon-cocos-a-fengfuduoyuan1:before {
  content: "\e628";
}

.icon-cocos-a-yonghu1:before {
  content: "\e626";
}

.icon-cocos-rili:before {
  content: "\e605";
}

.icon-cocos-moban:before {
  content: "\e60e";
}

.icon-cocos-zidingyiguanli:before {
  content: "\e604";
}

.icon-cocos-jianhao1:before {
  content: "\eaf6";
}

.icon-cocos-choose1:before {
  content: "\e6c5";
}

.icon-cocos-peizhi:before {
  content: "\e6d8";
}

.icon-cocos-a-fenbushi1:before {
  content: "\e61d";
}

.icon-cocos-a-shujujianguan1:before {
  content: "\e61e";
}

.icon-cocos-fuwuqi:before {
  content: "\e61f";
}

.icon-cocos-a-kuaisugaoxiao1:before {
  content: "\e620";
}

.icon-cocos-a-xingnengjisuan1:before {
  content: "\e621";
}

.icon-cocos-general-dashboard:before {
  content: "\e622";
}

.icon-cocos-rizhi:before {
  content: "\e69d";
}

.icon-cocos-shijian:before {
  content: "\e603";
}

.icon-cocos-riqi:before {
  content: "\e616";
}

.icon-cocos-code-branch:before {
  content: "\e993";
}

.icon-cocos-wenhao-xianxingyuankuang:before {
  content: "\e8e9";
}

.icon-cocos-jiankong:before {
  content: "\e624";
}

.icon-cocos-shujuku:before {
  content: "\e625";
}

.icon-cocos-liucheng:before {
  content: "\e6d3";
}

.icon-cocos-filezip:before {
  content: "\e60d";
}

.icon-cocos-tishi_mian:before {
  content: "\e6e2";
}

.icon-cocos-gantan:before {
  content: "\e610";
}

.icon-cocos-duigou-01:before {
  content: "\e60f";
}

.icon-cocos-jiazai1-copy-copy:before {
  content: "\eaf5";
}

.icon-cocos-jiazai1-copy:before {
  content: "\eaf4";
}

.icon-cocos-jiazaiai:before {
  content: "\e64b";
}

.icon-cocos-bianji:before {
  content: "\e623";
}

.icon-cocos-shanchu:before {
  content: "\e61c";
}

.icon-cocos-jia:before {
  content: "\e602";
}

.icon-cocos-jianhao:before {
  content: "\e60a";
}

.icon-cocos-jiahao:before {
  content: "\eaf3";
}

.icon-cocos-jiantoushang:before {
  content: "\e67c";
}

.icon-cocos-jiantouxia:before {
  content: "\e67e";
}

.icon-cocos-bitian:before {
  content: "\e635";
}

.icon-cocos-tishi:before {
  content: "\e6dc";
}

.icon-cocos-quanping:before {
  content: "\e601";
}

.icon-cocos-suoping:before {
  content: "\e840";
}

.icon-cocos-dian1:before {
  content: "\e600";
}

